* {
    box-sizing: border-box;
}
body {
    font-family: monospace;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
.jumbotron {
    display: flex;
@@ -24,7 +24,8 @@ header {
    font-size: 2em;
}
.jumbotron img {
    width: 250px;
    width: 42vw;
    float: left;
    margin: 0 20px 0 30px;
}
.card {
@@ -33,21 +34,19 @@ header {
    padding: 20px;
    margin-top: 20px;
}
.biodata {
.card > table {
    margin: auto;
}
.card p {
    text-align: center;
}
.contact-form {
    width: 500px;
    padding: 30px;
    color: #000;
    font-weight: bold;
}
.inp{ 
    background-color: #014674;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}
button {
    width: 300px;
@@ -56,6 +55,13 @@ button {
    color: white;
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}
.inp{ 
    background-color: #014674;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}
input {
@@ -66,13 +72,15 @@ input {
}
textarea {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background: none;
    border-radius: 5px;
    height: 500px;
    border-radius: 15px;
    height: 300px;
}
h2 {
    text-align: center;
    padding-top: 20px;
}
p {
    text-align: justify;
@@ -84,6 +92,7 @@ main {
}
nav {
    background-color: #014674;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 0 20px 0;
    text-align: right;
    position: sticky;
@@ -111,4 +120,13 @@ footer {
footer > a > img {
    width: 30px;
    margin: 20px;
}
.copy {
    font-family: sans-serif;
    font-size: 12px;
    color: #000;
    padding-bottom: 20px;
}
.copy > p {
    text-align: center;
}